{
  "extends": "next/core-web-vitals",
  "plugins": ["@typescript-eslint", "unused-imports", "jsx-a11y"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off"
  }
}
